<form #byojForm="ngForm" class="d-flex flex-column">
  <div class="form-group">
    <label for="voice">Select Voice</label>
    <select
      (change)="onVoiceChange()"
      [(ngModel)]="model.voice"
      class="custom-select mb-3"
      id="voice"
      name="voice"
      required
    >
      <option *ngFor="let voice of voices" [value]="voice">{{ voice }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="joke">Tell Your Joke</label>
    <textarea
      [(ngModel)]="model.joke"
      (ngModelChange)="onJokeChange()"
      class="form-control joke"
      id="joke"
      name="joke"
      placeholder="Did you hear about the restaurant on the moon? Great food, no atmosphere!"
      rows="5"
    ></textarea>
    <small
      [ngClass]="model.joke.length > 300 ? 'text-danger' : 'text-muted'"
      id="jokeHelpText"
      class="form-text"
    >
      {{ model.joke.length }} / 300
    </small>
  </div>
  <p>played: {{ hasPlayed }}</p>
  <p>loaded: {{ isLoaded }}</p>
  <p>playing: {{ isPlaying }}</p>
  <p>showSpinner: {{ showSpinner }}</p>
  <p>is dirty: {{ textAreaIsDirty }}</p>
  <button
    *ngIf="!isLoaded && !hasPlayed"
    [disabled]="model.joke.length > 300 || model.joke.length < 3 || showSpinner"
    [ngClass]="
      !isLoaded && !hasPlayed && !showSpinner ? 'btn-success' : 'btn-danger'
    "
    class="btn mb-3"
    (click)="onTeachPolly()"
    type="button"
  >
    {{
      !isLoaded && !hasPlayed && !showSpinner
        ? "Teach Polly Joke"
        : "Wait for it..."
    }}
  </button>
  <button
    [disabled]="isPlaying"
    *ngIf="isLoaded && !textAreaIsDirty"
    class="btn mb-3 btn-success"
    (click)="onPollySpeak()"
    type="button"
  >
    Tell Joke
  </button>
  <button
    *ngIf="isLoaded && hasPlayed && textAreaIsDirty"
    [disabled]="model.joke.length > 300 || model.joke.length < 3 || showSpinner"
    class="btn btn-success mb-3"
    (click)="onTeachPolly()"
    type="button"
  >
    Teach Polly Joke
  </button>
</form>
