<div class="d-flex flex-column align-items-center text-center">
  <app-polly-form (voiceChange)="changeVoice($event)"></app-polly-form>
  <button
    [disabled]="!isLoaded"
    *ngIf="joke.id !== temp.id"
    (click)="tellJoke()"
    class="btn btn-success mb-3"
  >
    Tell Joke
  </button>
  <button
    [disabled]="!isPlayed"
    *ngIf="joke.id !== '9999' && joke.id === temp.id"
    (click)="getNewJoke()"
    class="btn btn-danger mb-3"
  >
    Get Another Joke
  </button>
  <a
    [hidden]="!isLoaded"
    class="btn btn-link text-muted mb-3"
    [routerLink]="['/byoj']"
    >Got your own joke?</a
  >
  <p [hidden]="isLoaded" class="lead">
    Synthesizing Joke. Wait for it...
  </p>
  <div [hidden]="!joke?.joke" class="card border-danger mt-2">
    <div class="card-body">
      <em>
        {{ joke.joke }}
      </em>
    </div>
  </div>
  <p *ngFor="let alert of alerts" class="mt-5">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
      alert.message
    }}</ngb-alert>
  </p>
</div>
