<div class="d-flex flex-column align-items-center text-center">
  <app-polly-form (voiceChange)="changeVoice($event)"></app-polly-form>
  <button
    *ngIf="!hasPlayed"
    [disabled]="!isLoaded || isPlaying"
    (click)="tellJoke()"
    class="btn btn-block mb-3"
    [ngClass]="isLoaded ? 'btn-success' : 'btn-danger'"
  >
    {{ isLoaded ? "Tell Joke" : "Wait for it..." }}
  </button>
  <button
    [disabled]="!hasPlayed"
    *ngIf="isLoaded && hasPlayed"
    (click)="getNewJoke()"
    class="btn btn-block btn-danger mb-3"
  >
    Get Another Joke
  </button>
  <a class="btn btn-link text-muted mb-3" [routerLink]="['/byoj']"
    >Got your own joke?</a
  >
</div>
<div class="d-flex flex-column align-items-center text-center">
  <div [hidden]="!joke?.joke" class="card border-danger mt-2">
    <div class="card-body">
      <em>
        {{ joke.joke }}
      </em>
    </div>
  </div>
  <p *ngFor="let alert of alerts" class="mt-5">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{
      alert.message
    }}</ngb-alert>
  </p>
</div>
