@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
h1 {
  color: #e90a1f;
  font-family: "Lobster", cursive;
  font-size: 36px;
}

.polly_logo {
  font-size: 56px;
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 56px;
  }
  .polly_logo {
    font-size: 72px;
  }
}
